@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&display=swap");

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-mono);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
